---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="Acerca de Ale Rovella" description="Acerca de Ale Rovella">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="Acerca de mí"
        tagline="Gracias por tu visita. Lee a continuación para saber más sobre mí y mis experiencias."
      />

      <section>
        <h2 class="section-title">Experiencia</h2>
        <div class="content flex flex-col gap-4">
          <p>
            Con <strong>más de dos décadas de experiencia</strong> en el campo de
            la programación, puedo aportar un amplio conocimiento y destreza en diversas
            tecnologías. Mis inicios se remontan al año 2000, cuando comencé a trabajar
            con <strong>.NET</strong>. A medida que la industria evolucionaba,
            también lo hicieron mis habilidades, y me sumergí en el mundo de <strong
              >.NET Core</strong
            >.
          </p>
          <p>
            Además, he trabajado con bases de datos como <strong
              >SQL Server</strong
            >, <strong>MongoDB</strong> y
            <strong>PostgreSQL</strong>, lo que me ha permitido diseñar y
            gestionar sistemas de almacenamiento de datos eficientes y
            escalables.
          </p>
          <p>
            Sin embargo, mi experiencia no se limita al ecosistema de Microsoft.
            He trabajado extensamente con <strong>Angular</strong> y <strong
              >React</strong
            >, dos de los frameworks de <strong>JavaScript</strong> más populares
            para el desarrollo de aplicaciones web. Estas tecnologías me han permitido
            crear interfaces de usuario dinámicas e interactivas, brindando una experiencia
            excepcional a los usuarios finales.
          </p>
          <p>
            Durante muchos años utilicé
            <strong>Bootstrap</strong> para el diseño de interfaces, y ahora he migrado
            a
            <strong>Tailwind CSS</strong>, aprovechando su enfoque más modular y
            su capacidad para crear diseños personalizados de manera eficiente.
          </p>
          <p>
            Actualmente, me encuentro inmerso en proyectos personales utilizando
            <strong>Astro</strong> y <strong>Next.js</strong>, dos herramientas
            modernas y potentes para el desarrollo de sitios web y aplicaciones.
            Estas tecnologías me permiten aprovechar las <strong
              >últimas tendencias</strong
            > y mejores prácticas en el desarrollo front-end.
          </p>
          <p>
            En mi trabajo actual, sigo una metodología ágil conocida como <strong
              >Scrum</strong
            >, lo que me ha permitido adaptarme a entornos de desarrollo
            colaborativos y entregar valor de manera incremental.
          </p><p>
            Además, he adquirido experiencia en la creación de componentes de
            interfaz de usuario utilizando <strong>Storybook</strong>, una
            herramienta que facilita el desarrollo, prueba y documentación de
            componentes de manera aislada.
          </p>
          <p>
            Una habilidad clave que he desarrollado es la capacidad de trabajar
            con diseñadores utilizando <strong>Figma</strong>. Los diseñadores
            me proporcionan archivos en este formato, y yo tengo la tarea de
            crear componentes de interfaz de usuario precisos y fieles a los
            diseños originales.
          </p>
          <p>
            Además, implemento pruebas unitarias utilizando
            <strong>Jest</strong>, lo que me permite garantizar la calidad y el
            correcto funcionamiento de mi código.
          </p><p>
            Siempre estoy en constante aprendizaje, explorando y adoptando
            nuevas tecnologías para mantenerme actualizado en un campo tan
            dinámico y cambiante como lo es el desarrollo de software. Esta
            actitud me permite enfrentar desafíos complejos y entregar
            soluciones de alta calidad.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content flex flex-col gap-4">
          <p>HTML, CSS, JavaScript, TypeScript, C#, SQL, Git</p>
          <p>React, Angular, NextJS, Astro</p>
          <p>.NET Core, Entity Framework, SQL Server, MongoDB, Prisma</p>
          <p>Jest, React Testing Library</p>
          <p>Metodologías Agiles: Scrum, Kanban</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Power Skills</h2>
        <div class="content flex flex-col gap-4">
          <p>
            <strong>Comunicación:</strong> Me expreso con claridad y adapto mi mensaje
            según la audiencia.
          </p>
          <p>
            <strong>Trabajo en equipo:</strong> Disfruto trabajando en equipo y aporto
            al grupo de manera positiva
          </p>
          <p>
            <strong>Resolución de problemas:</strong> Abordo los desafíos de manera
            creativa
          </p>
          <p>
            <strong>Adaptabilidad:</strong> Aprendo rápidamente y manejo bien los
            cambios
          </p>
          <p>
            <strong>Organización:</strong> Priorizo eficientemente mis tareas y cumplo
            con los plazos.
          </p>
          <p>
            <strong>Creatividad:</strong> Encuentro soluciones innovadoras a los
            problemas.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
